body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column; /* Change to column for better mobile layout */
    padding: 20px; /* Add some padding for mobile */
}

#signupFormContainer, #loginFormContainer {
    background-color: #ffffff;
    padding: 20px; /* Reduce padding for mobile */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%; /* Set width to 100% for mobile */
    max-width: 320px; /* Limit max width */
    margin: 10px; /* Reduce margin for mobile */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 8px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size: 14px;
}

button[type="submit"] {
    padding: 12px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#signupMessage, #loginMessage {
    margin-top: 10px;
    font-size: 14px;
    color: red;
}

.navigation {
    text-align: center;
    margin-top: 20px;
}

.navigation a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navigation a:hover {
    background-color: #007bff;
    color: #ffffff;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    text-decoration: none;
    color: #777777;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #333333;
}

/* Media Queries for Mobile View */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    #signupFormContainer, #loginFormContainer {
        padding: 15px;
        margin: 5px;
        width: 100%;
    }

    button[type="submit"] {
        padding: 10px;
        font-size: 14px;
    }

    .navigation a {
        padding: 8px 15px;
    }
}
